<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>What do I get from pledging?</summary>
          <p>You'll get the game and the chance to be part of something truly epic!</a>.
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Is there any educational value in Rawbots?</summary>
          <p>Of course. Our entire game is inherently educational. From the creative element of putting robots together, to watching it 
            fail in the physics and math department. To the programming aspect. It is all educational.</p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Is Rawbots fully customizable?</summary>
          <p>Absolutely! Everything from the colors to the construction of the world, Rawbots is completely customizable.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>What is your motivation in building this?</summary>
          <p>We wanted to put a new face on the world of gaming. Most of the games out there that are fun aren't educational at all. We think 
            games can be educational and at the same time be super fun!</p>
        </details>
      </li>
    </ul>
  </div>
</div>
