<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <img src="/assets/whatisrawbots.png"/>
      <p>
        Rawbots is a robot crafting sandbox game where you can play with amazing robots, designed, built and programmed by you. A sophisticated robotics framework designed from the ground up to be a fun immersive experience accessible to the modern gamer.
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <img src="/assets/robotcrafting.png"/>
      <p>
        Like Lego Mindstorms, simple building blocks allow the player to create all kinds of bots. Motors, sensors, tools and structural body parts seamlessly connect with one another. Each and every bot part hides a world of options ready to be discovered. Building blocks are designed to be combined in ways even the developers didn't think about.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <img src="/assets/visualprogramming.png"/>
      <p>
        Everything programmable with an intuitive and streamlined graph system that brings the power of visual programming into the hands of creative minds. From geeks, to tinkerers, to grinders, there is a path to creation for everyone.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <img src="/assets/sandbox.png"/>
      <p>
        <h3>
          The Multiverse
        </h3>
        Rawbots is a multiverse game, where each player is the master of his own universe (Universe Master), which he can choose to abandon, or evolve. Each Universe has a set of default rules that can be re-programmed, like gravity, day/night cycles, planets atmosphere and landscape.
      <p>
    </div>
  </div>
</div>
