<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <img src="/assets/whatisrawbots.png"/>
      <p>
        Rawbots is a robot crafting sandbox game where you can play with amazing robots, designed, built and programmed by you. A sophisticated robotics framework designed from the ground up to be a fun immersive experience accessible to the modern gamer.
        <br>
        <img src="/assets/whatisrawbots.png"/>
        <br>
        The Rawbots universe has a unique set of matter, energy and physics laws. These laws are engineered to serve fun emergent gameplay that is different every time you play. Everything you would expect from a sandbox game and more. We are taking this to the next level. Gameplay that truly emerges beyond imagination and defined contextually by the type of robots you build.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
        Selfstarter is a starting point for you to build your own solution. It is set up to collect reservations using Amazon Payments, but you can choose your own provider too.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        It's just a skeleton
      </h3>
      <p>
        We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>
