<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>The Multiverse</h4>
      <p>Rawbots is a multiverse game, where each player is the master of his own universe (Universe Master), which he can choose to abandon, or evolve. Each Universe has a set of default rules that can be re-programmed, like gravity, day/night cycles, planets atmosphere and landscape.</p>
    </li>
    <li id="section-2">
      <h4>Crafting</h4>
      <p>Robot crafting is at the center of the experience. Every experience thereafter is pure emergence. We will provide the foundations and building blocks that will allow infinite possibilities. FPS, CTF, RTS and other gameplay styles will all be possible, through creative use of building blocks, visual programming and general game rules.</p>
    </li>
    <li id="section-3">
      <h4>Economy</h4>
      <p>The economy system is fundamentally bartering. However, all the tools will be provided for Universe Masters to build their own exchange and banking systems. If a currency evolves in a Universe, it will be out of pure emergence (or contractual). Players can choose to exchange blueprints, bot parts, services or data, where data can be a custom currency.</p>
    </li>
    <li id="section-4">
      <h4>Goals</h4>
      <p>Rawbots, in the sandbox context, has no specific goals. It is the true definition of a sandbox game. However, Universe Masters will be creating great experiences for others to enjoy. We don’t know what those experiences might be, and that is exactly how we want it.</p>
    </li>
  </ul>
</div>
